.accordion{
    margin:40px
}

.question{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid white;
    background-color: #efefef;
    border-radius: 6px;
    cursor:pointer;
}

.response{
  background-color: white;
  padding: 10px;
}
